body
	{
		background: url(https://git.io/JUW4t);
		background-size: cover;
		overflow: hidden;
	}

#panda
	{
		position:relative;
		top:600px;
		background: url(https://git.io/JUW4L); 
		width:250px;
		height:330px;		
		animation:walking_animation 1s steps(12) infinite,move_forward 8s linear infinite;	
	}
